@model Inventario.GUI.Models.Asociar.ModeloAsociar

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Detalles Asociar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ubicacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ubicacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombrePersona)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombrePersona)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreProducto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Volver", "Index", new { }, new { @class = "btn btn-warning" })
</p>
