@model Inventario.GUI.Models.Parametros.ModeloEspacio

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<div>
    <h4>Eliminar Espacio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombrePiso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombrePiso)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> 
            @Html.ActionLink("Volver", "Index", new { }, new { @class = "btn btn-warning" })
        </div>
    }
</div>
