@model Inventario.GUI.Models.Parametros.ModeloEspacio

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Detalles Espacio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombrePiso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombrePiso)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" }) 
    @Html.ActionLink("Volver", "Index", new { }, new { @class = "btn btn-warning" })
</p>
