@model Inventario.GUI.Models.Producto.ModeloProducto

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tb_producto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SerialProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SerialProducto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreCategoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreCategoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreEspacio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreEspacio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreMarca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreMarca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreTipoProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreTipoProducto)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
