@model IEnumerable<Inventario.GUI.Models.Producto.ModeloProducto>

@{
    ViewBag.Title = "Index";
}

<h2>Lista De Producto</h2>
@{int contador = 1; }
<p>
    @Html.ActionLink("Crear Producto", "Create", new { }, new { @class = "btn btn-success" })
    @Html.ActionLink("Imprimir reporte", "Print", new { }, new { @class = "btn btn-warning" })
</p>
<form method="get" action=@Url.Action("Index", "Producto" )>
    <div class="form-group">
        @Html.TextBox("filtro", null, new
        {
            placeholder = "Filtrar búsqueda",
                                @class = "form-control"
        })

    </div>
    <button class="btn btn-info" type="submit">Filtrar</button>
</form>
<table class="table">
    <tr>
        <th>Nº</th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SerialProducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreCategoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreEspacio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreMarca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreTipoProducto)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
             <td>@contador</td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SerialProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCategoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreEspacio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreMarca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreTipoProducto)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.Id }, new { @class = "btn btn-warning" }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" }) |
                @Html.ActionLink("Fotografias", "UploadFile", new { id = item.Id }, new { @class = "btn btn-success" })
            </td>
        </tr>
        contador++;
    }

</table>
@Html.Partial("_Footer_pageList")